.animate-fade-in[data-v-ae6c8ce0]{animation:fadeIn-ae6c8ce0 .3s ease-out}@keyframes fadeIn-ae6c8ce0{0%{opacity:0;transform:translate(-50%,-50%) scale(.95)}to{opacity:1;transform:translate(-50%,-50%) scale(1)}}
